{% extends 'base.html.twig' %}
{% block body %}
<section class"error">
<p>
Attention! Erreur. Page non trouvée.
<a href="{{path("home")}}">Revenir à la page d'accueil</a>
</p>
</section>
{% endblock %}